.container {
  background-color: #e9e0cc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  min-width: 100%;
}
p {
  text-decoration: underline;
  font-weight: 500;
  padding-bottom: 1rem;
}
.contact {
  display: flex;
  justify-content: center;
}
a {
  margin: 10px;
  padding: 0px;
  font-size: 0px;
}
