@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Questrial&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}

.UserSection {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.UserSection img {
  width: 15rem;
  height: 25rem;
}
