.Designers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 2rem 0;
}

.imgMaintenance {
  width: 50rem;
}

.Designers h1 {
  font-weight: 500;
  margin-top: 1rem;
}
